{% extends 'layout/base.html' %}

{% block title %}Trang Chủ{% endblock %}

{% block content %}

<section class="home-banner-area">
    <div class="container">
        <div class="row justify-content-center fullscreen align-items-center">
            <div class="col-lg-5 col-md-8 home-banner-left">
                <h1 class="text-white">
                    Hệ thống  <br/>
                    quản lý học sinh
                </h1>
                <p class="mx-auto text-white  mt-20 mb-40">
                    Bài tập lớn môn công nghệ phần mềm đề tài quản lý học sinh.
                </p>
            </div>
            <div class="offset-lg-2 col-lg-5 col-md-12 home-banner-right">
                <img class="img-fluid" src="{{ url_for('static', filename='img/header-img.png') }}" alt=""/>
            </div>
        </div>
    </div>
</section>
<section class="feature-area">
    <div class="container-fluid">
        <div class="feature-inner row">
            <div class="col-lg-2 col-md-6">
                <div class="feature-item d-flex">
                    <i class="ti-book"></i>
                    <div class="ml-20">
                        <h4>New Classes</h4>
                        <p>
                            In the history of modern astronomy, there is probably no one greater leap forward.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="feature-item d-flex">
                    <i class="ti-cup"></i>
                    <div class="ml-20">
                        <h4>Top Courses</h4>
                        <p>
                            In the history of modern astronomy, there is probably no one greater leap forward.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="feature-item d-flex border-right-0">
                    <i class="ti-desktop"></i>
                    <div class="ml-20">
                        <h4>Full E-Books</h4>
                        <p>
                            In the history of modern astronomy, there is probably no one greater leap forward.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}